/* 
Selectores

Son patrones que permiten seleccionar y aplicar estilos espacificos 

Tipos de selectores

1. Selecores basicos
    -Selector universal
    -Selectores de tipo

2. Selectores de clase

Seleccionan los elementos que tienen una clase especifica.

Se usa la notacion de punto (.) antes del nombre de la clase

.nombreClase {
    propiedad: valor;
}

3. Selectores de ID

Los selectores de id selccionan un elemento unico con un identificador especifico.

Se usa la anotacion numeral (#) antes del nombre del id.

#nombreId{
    propiedad :valor;
}

4. Selectores combinados 

    - Descendientes

    Los selectores descendientes seleccionan elementos dentro de otros elementos 

    elemento elementoInterno {
    propiedad: valor;
}

    - Hijo directo

    Selecciona elementos que son hijos directos de un elemento padre.

    elemento > elementos hijos{
    propiedades: valor;
}

    - Elemento adjacente
    - Hermano general

5. Selectores de atributos

    -Atributo

    Selecciona elementos segun el atributo que indiquemos. Sin importar su valor.

    elemento[atribuo] {
    propiedad: valor
}

    -Atributo-valor

    - Atributo - Valor

    Selecciona elementos segun el atributo y el valor que indiquemos.

    elemento[atributo=valor] {
    propiedad: valor;
}


6. Selectores avanzados
    -Pseudo-clases

    Seleccionamos elementos en un estado en particular

    elemento:pseudoclase {
    propiedad: valor;
}

    -Pseudo-elementos

    Seleccionanpartes especificas de un elemento en html

    elemento::pseudoelemento {
    propiedad: valor;
}

*/

/* Selectores basicos */

/* Universal -> Selecionar todos los elementos de un documento*/

* {
    /* border: 2px solid red; */
    /* Reset basico */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selecciona un tipo -> Selecciona un tipo de elemento en html */
body {
    background-color: lightcyan;
}

h1 {
    color: darkblue;
}

p {
    font-size: 24px;
}

/* Selectores de clase */

.content {
    background-color: blueviolet;
    padding: 48px;
}

.hero {
    background-color: orangered;
    padding: 24px;
}

.hero-title {
    background-color: aqua;
    padding: 26px;
    color: antiquewhite;
    text-align: center;
}

/* Selectores de id */

#about-title {
    color: yellowgreen;
    font-size: 72px;
}

/* Selectores combinados descendientes*/

aside section {
    background-color: green;
    padding: 48px;
}

.aside-section h3 {
    color: azure;
    text-align: right;
    padding: 24px;
    background-color: lightcoral;
}

/* Combinados - Hijos directos */

ul > li {
    background-color: blue;
}

.Lista > li {
    font-size: 12px;
}


/*/Combinados- Elemento adjacente/*/
h3 + ul {
 list-style: none;
}
.bro + li{
 background-color: #f00000;
}

/* Combinados - Hermano general */

.bro + li - li {
    
}

.tercero - li {
    color: black;
}

/* Selector de atributo */
a[href] {
    display: block;
    text-decoration: none;
    color: magenta;
}

/* Selector de atributo con valor */

a[href="https://www.Instagram.com"] {
    font-size: 48px;
    color: orangered;
}

/* Pseudo-clases */

a:hover {
    background-color: purple;
    color: white;
    text-decoration: underline;
}

a:focus {
    border: 3px solid red;
}

/* Pseudo - elemento */

a::after {
    contain: "💎";
}

a::before {
    content: "Este es un enlace hacia:";
}
