/* 

Fuentes personalizadas

-Fuentes externas 

Llamamos desde servidores remotos

Google fonts 

Es un servicio o catalogo de fuentes que podemos usa de manera gratuita en internet.

-Optimizada para digital
-Gratuitas de uso comercial
-Curadas y de alta calidad
-Codigo de vinculacion para web

https://fonts.google.com/

1.Seleccionar la fuente y traer el codigo de incrustacion o embed code al html, lo pegamos dentro las etiquetas head

2. Definimos las reglas CSS para los elementosa los que se las queremos aplicar. Usamos las propiedades 

-Fuentes internas

Llamamos desde nuestro propio servidor o carpeta de recursos

1.Debemos tener los archivos en una carpeta especifica.
2.Formatos comunes son .ttf .otf .woff .woff2 .etc...
3.Declaramos en CSS @font-face

@font-face {
    font-family: nombreFuente; // Dos palabras entre ""
    src: url(ubicacion) format(formato); // Ubicacion y formato entre ""
}

4. Creamos la regla CSS

selector {
    font-family: nombreFuente, respaldo;
}


*/

h1 {
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-style: italic;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


.title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
}

.title:hover {
    font-weight: 182;
    transition: font-weight 1s ease;
}

.text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
}

/*

Elegir dos fuentes distintas en google fonts
titulo
parrafo
Crear la regla de CSS para cada elementocon un selector de id.

*/

/* 
.title {
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text {
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
 */

/* Fuentes internas */

@font-face {
    font-family: "MagicalNordicSymbols_PERSONAL_USE_ONLY";
    src: url("./fonts/MagicalNordicSymbols_PERSONAL_USE_ONLY.otf"), format(.otf);
}

@font-face {
    font-family:"Jaro-Regular";
    src: url("./fonts/Jaro-Regular.ttf"), format(.ttf);
}

#title {
    font-family: "MagicalNordicSymbols_PERSONAL_USE_ONLY", sans-serif;
}

#text {
    font-family: "Jaro-Regular", sans-serif;
}